body {
  font-family: Poppins;
  background: #eef2f7;
}

/* LOGIN */
.login-container {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.login-card {
  width: 420px;
  padding: 40px;
  background: #5b6fa8;
  color: white;
  border-radius: 20px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
}

button {
  width: 100%;
  padding: 14px;
  background: #3d5afe;
  color: white;
  border: none;
  border-radius: 10px;
}

/* JOBS SLIDER */
.jobs-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
}

.job-card {
  min-width: 250px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* TOP / FOOTER */
.top-bar, .bottom-bar {
  background: #2f4a92;
  color: white;
  text-align: center;
  padding: 15px;
}